@tailwind base;
@tailwind components;
@tailwind utilities;

.typing{
    font-size: 26px;
    width: 1350px;   
    animation: animacion 8s steps(60), transparent .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    color: #5297C4;
    border-right: 3px solid;
  }
  
  @keyframes animacion {
    from {
      width: 10px
    }
  }
      
  @keyframes transparent {
    50% {
      border-color: transparent
    }
}

.logo{
  width: 100px;
  height: 50px;
}

.cinta_informativa{
  width: 168vh;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, italic;
  font-size: 18px;
  justify-content: center;
}

.slider{
  background-color: black;
  height: 70vh;
}

.w-full{
  width: 230vh;
  height: 70vh;
}


/* Botonera de tipo de prenda*/

.tipoprenda {
  width: 220vh;
  height: 10vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btn-12{
  position: relative;
  margin: 5px;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(179,236,236);
  background: linear-gradient(0deg, rgb(137,236,218) 0%, rgb(64,224,208) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* Botonera por disciplinas deportivas*/

.disciplinas{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height: 60vh;
  background-color: #147979; 
}

.card{
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  transition: .5s;
}

.card .font{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .font img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .font h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: rgba(3, 3, 3, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back h4{
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.card:hover .font {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* Tarjeta producto catalogo*/

.contenedor{
  margin-top: 190px;
  width: 220vh;
  display:flex;
  align-items:center;
  justify-content:center;
  /*background-color: red;*/
}

.catalogo_productos{
  width: 30vh;
  display:flex;
  margin-left: 10px;
  /*background-color: orange;*/
}

.prueba{
  width: 35vh;
  /*background-color: yellowgreen;*/
  margin-left: 20px;
}

section {
  --card-height: 260px;
  --card-width: calc(var(--card-height) / 1.5);
}
#catalogo{
  width: 100vw;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px #000;
  background: orange;
}

.cardcatalogo {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 30px 25px;
  background-color: whitesmoke;
}

.cardbody{
  width: 29vh;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrappercatalogo {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.cardcatalogo:hover .wrappercatalogo {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrappercatalogo::before,
.wrappercatalogo::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrappercatalogo::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrappercatalogo::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.info_producto{
  position: relative;
  display: block;
  width: 160px;
  height: 500px;
  margin-bottom: 5px;
  left: 50px;
}

.cardcatalogo:hover .wrappercatalogo::before,
.wrappercatalogo::after {
  opacity: 1;
}

.cardcatalogo:hover .wrappercatalogo::after {
  height: 120px;
}
/*.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}*/

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.cardcatalogo:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}


/* Formulario de registro*/

.interlogueo{
  box-shadow: 0 5px 10px #000;
  background-color: #5297C4;
  width: 64vh;
  padding: 10px;
  border-radius: 10px;
}


